{% extends 'base.html.twig' %}

{% block title %} {% trans %}Settings{% endtrans %} ! {% endblock %}

{% block body %}

    <div class="mt-2" style="margin-left:10%;margin-right:10%;">
		{{form_start(form)}}
		
			<label class="form-control text-center mb-3">
				<strong>{% trans %}Updating Permissions to import files{% endtrans %}</strong>
			</label>
			{{form_row(form.data)}}
			<button class="btn btn-success mt-2" type="submit">{% trans %}Update {% endtrans %}!</button>

		{{form_end(form)}}
	</div>

{% endblock %}